.hero-section {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 80%; /* Adjust as needed */
}

.hero-title {
    left: 80px;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: center;
}
