.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background image */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 40%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 90%
  );
}

/* Content overlay */
.hero-content {
  position: absolute;
  top: 20%;
  left: 7%;
  max-width: 80%;
  color: white;
}

/* Title */
.hero-title {
  color: #800020;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Row: poster + description */
.hero-row {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

/* Poster */
.poster-image {
  width: 170px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}
.poster-image:hover{
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 15px 25px rgba(155, 211, 255, 0.6);
}


/* Description */
.hero-description {
  max-width: 450px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f1f1f1;
   margin-top: 5rem;
}
.hero-bnts {
  position: absolute;
  bottom: 170px;
  left: 7%;
  display: flex;
  gap: 2rem;
}

.hero-bnts button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  cursor: pointer;

  color: #000;
  font-weight: 600;
  transition: color 0.2s ease;
}

.hero-bnts button:hover {
  color: #454444;
}




/* From Uiverse.io by Codecite */ 
.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn {
  width: 85px;
  height: 35px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #e60000 100%);
  box-shadow: 0 13px 13px -6px rgba(228, 66, 58, 0.829);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 17px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}
.hero-actions {
  position: absolute;
  bottom: 80px;      /* adjust as you like */
  left: 0;
  width: 100%;
  pointer-events: none; /* optional: clicks go through */
}

/* winner image ON background */
.winner {
  position: absolute;
  bottom: 0;
  left: 14%;
  transform: translateX(-50%);
  width: 300px;
  height: 80px;     /* control size */
  opacity: 0.85;

  z-index: 1;       /* ABOVE background */
}

/* make sure content stays above */