.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background image */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 40%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 90%
  );
}

/* Content overlay */
.hero-content {
  position: absolute;
  top: 20%;
  left: 7%;
  max-width: 80%;
  color: white;
}

/* Title */
.hero-title {
  color: #800020;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Row: poster + description */
.hero-row {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

/* Poster */
.poster-image {
  width: 170px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

/* Description */
.hero-description {
  max-width: 450px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f1f1f1;
   margin-top: 5rem;
}
